html, body {
  height: 100%;
  width: 100%;
}
nav {
  margin-bottom: 0px;
}
.social-links {
  display: none;
}
div.skills-content div.col-lg-12 {
  padding-left: 50px;
  padding-right: 50px;
}
.portfolio .portfolio-wrap {
  background-color: white !important;
}